 

.MuiBox-root {
    @apply dark:bg-gray-800 dark:text-white;
}

.spinner-icon {
    animation: spin 1s linear infinite;
}

.loading-message {
    animation: fadeInOut 2s linear infinite;
    position: relative;
    transition: 0.3s all;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}