.sidebar {
    transition: 0.3s all ease-in-out;
}

.sidebar.closed {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.link-upgrade>svg {
    z-index: 99;
}

.link-upgrade:hover>svg {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    animation: rotate infinite 1s linear;
    opacity: 1;
}

.link-upgrade:hover .clouds {
    transform: translateY(-20px)
}

.link-upgrade .clouds .cloud-1 {
    transform: translateX(-50px) translateY(20px);
    transition: 0.6s all;
    position: absolute;
    z-index: 9;
    font-size: 45px;
    opacity: 0;
}

.link-upgrade .clouds .cloud-2 {
    transform: translateX(-89px) translateY(20px);
    transition: 0.6s all;
    position: absolute;
    z-index: 9;
    font-size: 45px;
    opacity: 0;
}

.link-upgrade:hover .cloud-1 {
    transform: translateX(-50px) translateY(-20px);
    opacity: 0.5;
    filter: blur(5px);
}

.link-upgrade:hover .cloud-2 {
    transform: translateX(-89px) translateY(4px);
    opacity: 0.5;
    filter: blur(5px);
}

@keyframes rotate {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}